﻿@model ECommercePortal.Models.Show

@{
    ViewData["Title"] = "AddProductToCart";
}

<link href="~/css/BasicStyle.css" rel="stylesheet" />
<div class="loginbox">
    <div class="container">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">

                <h2>Add Product To Cart</h2>
            </div>


            <hr />
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form asp-action="AddProductToCart" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        @*<div class="form-group">
                        <label asp-for="CustomerID" class="control-label"></label>
                        <input asp-for="CustomerID" class="form-control" />
                        <span asp-validation-for="CustomerID" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <label asp-for="ProductId" class="form-control-label"></label>
                            <input asp-for="ProductId" min=1 class="form-control" />
                            <span asp-validation-for="ProductId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Zipcode" class="form-control-label"></label>
                            <input asp-for="Zipcode" class="form-control" min="100000" required />
                            <span asp-validation-for="Zipcode" class="text-danger"></span>
                        </div>



                        <div class="form-group">
                            <input type="submit" value="Add To Cart" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
            </div>
        </div>
    </div>
<br />
<br />
