﻿@model ECommercePortal.Models.Product

@{ ViewData["Title"] = "Edit"; }
<link href="~/css/BasicStyle.css" rel="stylesheet" />
<center>
    <div class="loginbox">
        <div class="container">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    <h2>Add Rating To Product</h2>
                </div>
                <hr />
                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">

                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="id" />
                            <div class="form-group">
                                <label asp-for="ProductId" class="form-control-label"></label>
                                <input asp-for="ProductId" class="form-control" readonly />
                                <span asp-validation-for="ProductId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Rating" class="form-control-label"></label>
                                <select asp-for="Rating" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                @*<input asp-for="Rating" class="form-control" />*@
                                <span asp-validation-for="Rating" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>



                <div>
                    <a class = "btn btn-primary" asp-action="Index">Back to List</a>
                </div>

            </div>
        </div>
        </div>
</center>

