﻿@model IEnumerable<ECommercePortal.Models.Product>

@{ ViewData["Title"] = "Index"; }

<link href="~/css/IndexStyle.css" rel="stylesheet" />

<h4><span class="label label-default">Welcome @ViewBag.Username !</span></h4>

<div class="pull-left" style="float:right;">
    <button type="submit" class="btn btn-primary">
        <a asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
    </button>
</div>

<br />
<br />

<body>
    <center>
        <a class="btn btn-primary" asp-action="SearchById">Search Product By Id</a>&nbsp   &nbsp  &nbsp   &nbsp  &nbsp   &nbsp

        <a class="btn btn-primary" asp-action="SearchByName">Search Product By Name</a>&nbsp   &nbsp  &nbsp   &nbsp  &nbsp   &nbsp

        <a class="btn btn-primary" asp-action="AddProductToCart">Add Product To Cart</a>&nbsp   &nbsp  &nbsp   &nbsp  &nbsp   &nbsp

        @*<a asp-area="" asp-controller="User" asp-action="Logout">Logout</a>*@
    </center>
</body>

<br />




            <div class="loginbox">
                <div class="container">
                    <div class="col-lg-12 login-title">
                        <h2>Products</h2>
                    </div>
                    <br />

                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.ProductId)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.ProductName)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.ImageName)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Rating)
                                </th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                <tr>

                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>

                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td scope="row">

                        <img src="@(item.ImageName)" height="100" width="100" />

                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td scope="row">

                        <a class="btn btn-primary" asp-action="Edit" asp-route-productid="@item.ProductId">Add Rating</a>

                    </td>
                    <td scope="row">

                        <a class="btn btn-primary" asp-action="AddProductToCart1" asp-route-productid="@item.ProductId">Add To Cart</a>

                    </td>

                </tr>}
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
