﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/BasicStyle.css" rel="stylesheet" />
<h2>This Product is not in Stock </h2>
<br />
<p>
    <a class="btn btn-primary" asp-action="AddProductToWishList"  >Add Product To WishList</a>
</p>
