﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/BasicStyle.css" rel="stylesheet" />

<h2>Product Not Available</h2>
<br />
<div>
    <a class="btn btn-primary" asp-action="SearchByName">Search Again</a>
</div>
