﻿@model ECommercePortal.Models.Product

@{ ViewData["Title"] = "SearchById"; }

<link href="~/css/BasicStyle.css" rel="stylesheet" />
<div class="loginbox">
    <div class="container">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                <h2>Search By Product Id</h2>
            </div>

           @* <div class="col-lg-12 login-title">
                Search By Product Id
            </div>*@

            <hr />

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form asp-action="SearchById" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ProductId" class="form-control-label"></label>
                            <input asp-for="ProductId"  min=1 class="form-control" />
                            <span asp-validation-for="ProductId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
    </div>
