﻿@model ECommercePortal.Models.Product

@{ ViewData["Title"] = "Status"; }

<link href="~/css/CartStatusStyle.css" rel="stylesheet" />
<center>
    <div class="loginbox">
        <div class="container">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    <h2>Product Detail</h2>
                </div>
                <br />

                <table class="table">
                    <tr>
                        <th>
                            Product ID
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductId)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ProductName)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Product Description
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Description)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Image
                        </th>
                        <td>

                            <img src="@Url.Content(Model.ImageName)" height="100" width="100" />

                        </td>
                    </tr>
                    <tr>
                        <th>
                            Price
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Price)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Product Rating
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Rating)
                        </td>
                    </tr>
                </table>
                <br />
                @*<hr />
                    <dl class="row">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ProductId)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ProductId)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ProductName)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ProductName)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ImageName)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ImageName)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Rating)
                        </dd>
                    </dl>*@

                <div>

                    <a class="btn btn-primary" asp-action="AddProductToCart1" asp-route-productid="@Model.ProductId">Add To Cart</a>
                    <br />
                    <br />
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>&nbsp   &nbsp
                    @*<a asp-action="AddProductToCart">Add Product To Cart</a>*@
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>

    </div>
</center>