﻿body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left,#614385,#516395);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    color: #ECF0F5;
    /* font-family: Arial, Helvetica, sans-serif;*/
}
input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    /*font-weight: bold;*/
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}
.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 21px;
    color: #ECF0F5;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

    .btn-outline-primary:hover {
        background-color: #0DB8DE;
        right: 0px;
    }
.table {
    color: #ECF0F5;

}
h4 {
    display: inline-block;
    float: left;
}
#buttons .btn {
    margin: 0 0px 15px;
}

.btn-primary {
    color: #fff;
    background-image: linear-gradient(to bottom right,#2193b0,#6dd5ed);
    border-color: #9c27b0;
    box-shadow: none;
}

