﻿@model ECommercePortal.Models.User


@{
    ViewData["Title"] = "Login";
}

<link href="~/css/LoginStyle.css" rel="stylesheet" />

<hr />
@if (TokenInfo.StringToken == "")
{
    <h5>Invalid UserName or Password!</h5>
    <br /><p>Kindly Login Again</p>
    <a asp-action="Logout" class="btn btn-primary">Log in</a>
}
else if (TokenInfo.StringToken != null)
{
    <h5>Session Expired</h5>
    <br /><p>Kindly Click Logout and Login Again</p>
    <a asp-action="Logout" class="btn btn-primary">Logout</a>

}

else
{
    <body>

        <div class="loginbox">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-2"></div>
                    <div class="col-lg-6 col-md-8 login-box">
                        <div class="col-lg-12 login-key">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-12 login-title">
                            Login
                        </div>


                        <div class="col-lg-12 login-form">
                            <div class="col-lg-12 login-form">
                                <form asp-action="Auth" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        @* <div class="col-lg-12 login-form">*@
                                        <label asp-for="Username" class="form-control-label"></label>
                                        <input type="text" asp-for="Username" class="form-control" />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Password" class="form-control-label"></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" id="btn" value="Login" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</body>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
